<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suitmedia test</title>
    <link rel="stylesheet" href="../../public/style/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c41c9892b9.js" crossorigin="anonymous"></script>
</head>
<body class="font-roboto">
    <header>
        <div class="bg-orange-400 flex justify-between px-24 items-center fixed w-full z-30 top-0 transition-all duration-700" id="navbar">
            <div id="logo" class="max-w-40">
                <img src="../../public/image/logo.png" class="bg-transparent" alt="" srcset="">
            </div>
            <div id="navLink" class="bg-orange-400 ">
                <a href="" class="text-white text-lg mx-2 p-3 ">Work</a>
                <a href="" class="text-white text-lg mx-2 p-3">About</a>
                <a href="" class="text-white text-lg mx-2 p-3">Services</a>
                <a href="" class="text-white text-lg mx-2 p-3 underline underline-offset-4 decoration-4 ">Ideas</a>
                <a href="" class="text-white text-lg mx-2 p-3">Careers</a>
                <a href="" class="text-white text-lg mx-2 p-3">Contact</a>
            </div>
        </div>
        <div class="mt-16">
            <div class="relative bg-cover bg-center h-96 bg-fixed " style="background-image: url('../../public/image/banner.jpeg');">
                <div class="flex flex-col items-center justify-center h-full text-white">
                    <p class="text-6xl font-normal">Ideas</h1>
                    <p class="mt-2 text-xl">Where all our great things begin</p>
                </div>
                <div class="absolute bottom-0 left-0 w-full overflow-hidden leading-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280"><path fill="white" fill-opacity="1" d="M0,256L1440,128L1440,320L0,320Z"></path></svg>
                </div>
            </div>
        </div>
    </header>
    <main class="flex flex-col pt-10">
        <div id="list" class="mx-32 mb-28">
        <div id="head-list" class="flex justify-between ">
            <div>
                <p class="text-lg">Showing 1-<span id="show"></span> of 100</p>
            </div>
            <div class="flex">
                <div class="mr-10">
                    <label class="text-lg" >Show per page:</label>
                    <select name="" id="sortPage" class="border-2 rounded-xl pl-2 pr-8 py-1 text-lg">
                        <option id="page" value="10">10</option>
                        <option id="page" value="20">20</option>
                        <option id="page" value="50">50</option>
                    </select>
                </div>
                <div>
                    <label class="text-lg" >Sort by:</label>
                    <select name="" id="sortDate" class="border-2 rounded-xl pl-2 pr-8 py-1 text-lg">
                        <option value="new">Newest</option>
                        <option value="old">Oldest</option>
                    </select>
                </div>
            </div>
        </div>
            <div class="grid grid-cols-4 gap-4 mt-8" id="list-card">
                
            </div>
            <div class="flex justify-center mt-24 text-xl" id="numberPagination">
                
            </div>
        </div>
    </main>
    <script src="../scripts/index.js"></script>
</body>
</html>